/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container {
  background-image: url('/src/assets/Img/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
} */